:root {
    --negro: #111;
    --gris: #cccccc;
    --grisSuave: #e6e6e6;
    --borde: #d0d0d0;
    --fondoHero: rgba(0,0,0,0.55);
    --transicion: 0.5s ease;
    --radio: 18px;
    --fuente: "Times New Roman", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}


/* menu nav y hamburguesa con media queries*/
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--gris);
    position: sticky;
    top: 0;
    z-index: 10;
}

        .nav-logo {
            font-weight: bold;
        }

        .nav-hamburguesa {
            font-size: 1.8rem;
            cursor: pointer;
            display: none;
        }

        .nav-menu {
            display: flex;
            gap: 1.5rem;
            list-style: none;
        }

        .nav-menu a {
            text-decoration: none;
            color: var(--negro);
        }

@media (max-width: 800px) {
    .nav-hamburguesa { display: block; }

    .nav-menu {
        display: none;
        flex-direction: column;
        background: white;
        border-bottom: 1px solid var(--gris);
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }

    .nav-menu.show {
        display: flex;
    }
}
