:root {
    --color-primario: #004080;
    --color-secundario: #0080ff;
    --color-fondo: #f0f8ff;
    --color-texto: #333333;
    --color-acento: #ff6600;
}

.portada {
    width: 100%;
    height: 100vh;
}

.header-title {
    color: var(--color-primario);
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0%;
    font-size: 100px;
}
.header-subtitle {
    color: var(--color-secundario);
    text-align: left;
    margin-left: 20px;
    margin-top: 0%;
    font-size: 30px;
}



/*carrusel fondo principal*/

.carrusel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-carrusel {
    position: center;
    inset: 0;
    width: 60%;
    max-height: 60vh;
    overflow: hidden;
    z-index: -1;
    ;
}

.fondo-carrusel .slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.8s ease;
}

.fondo-carrusel .slide.active {
    opacity: 1;
}


/*fondo de todos los div*/

.fondo {
    background-color: var(--color-fondo);
    width: 80%;
    position: center;
    padding: 40px 40px;
    margin: 10px auto 40px auto;
    border-radius: 20px;
}


/*textos del div de fondo*/

.fondo h2 {
    color: var(--color-primario);
    text-align: center;
    margin-bottom: 20px;
}
.fondo p {
    color: var(--color-texto);
    font-size: 18px;
    line-height: 1.3;
    text-align: justify;
}


.card-destacado {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.card-destacado figure img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.card-destacado .texto {
    flex: 1;
}



/*fotos de los lugares*/
.figure {
    width: 100%;
    height: auto;
}

.mapa iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
}