:root {
    --color-primario: #004080;
    --color-secundario: #0080ff;
    --color-fondo: #f0f8ff;
    --color-texto: #333333;
    --color-acento: #ff6600;
}

.portada {
    width: 100%;
    height: 100vh;
}



/*carrusel fondo principal*/

.carrusel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-carrusel {
    position: center;
    inset: 0;
    width: 60%;
    max-height: 60vh;
    overflow: hidden;
    z-index: -1;
    ;
}

.fondo-carrusel .slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.8s ease;
}

.fondo-carrusel .slide.active {
    opacity: 1;
}


/*fondo de todos los div*/

.fondo {
    background-color: var(--color-fondo);
    width: 80%;
    position: center;
    padding: 40px 40px;
    margin: 10px auto 40px auto;
    border-radius: 20px;
}


/*estilo del texto dentro del div*/
.fondo h2 {
    color: var(--color-primario);
    text-align: center;
    margin-bottom: 20px;
}
.fondo p {
    color: var(--color-texto);
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.fondo p strong {
    color: var(--color-acento);
}
.fondo p em {
    font-style: italic;
    color: var(--color-secundario);
}
.fondo p a {
    color: var(--color-primario);
    text-decoration: none;
}
.fondo p a:hover {
    text-decoration: underline;
}